# Opis problemu

cos

In [1]:
import pandas as pd
import numpy as np
import scipy as sc
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import datetime

In [9]:
news = pd.read_csv('uci-news-aggregator.csv', sep=',')
news

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
0,1,"Fed official says weak data caused by weather,...",http://www.latimes.com/business/money/la-fi-mo...,Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,1394470370698
1,2,Fed's Charles Plosser sees high bar for change...,http://www.livemint.com/Politics/H2EvwJSK2VE6O...,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,1394470371207
2,3,US open: Stocks fall after Fed official hints ...,http://www.ifamagazine.com/news/us-open-stocks...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371550
3,4,"Fed risks falling 'behind the curve', Charles ...",http://www.ifamagazine.com/news/fed-risks-fall...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371793
4,5,Fed's Plosser: Nasty Weather Has Curbed Job Gr...,http://www.moneynews.com/Economy/federal-reser...,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,1394470372027
5,6,Plosser: Fed May Have to Accelerate Tapering Pace,http://www.nasdaq.com/article/plosser-fed-may-...,NASDAQ,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.nasdaq.com,1394470372212
6,7,Fed's Plosser: Taper pace may be too slow,http://www.marketwatch.com/story/feds-plosser-...,MarketWatch,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.marketwatch.com,1394470372405
7,8,Fed's Plosser expects US unemployment to fall ...,http://www.fxstreet.com/news/forex-news/articl...,FXstreet.com,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.fxstreet.com,1394470372615
8,9,US jobs growth last month hit by weather:Fed P...,http://economictimes.indiatimes.com/news/inter...,Economic Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,economictimes.indiatimes.com,1394470372792
9,10,ECB unlikely to end sterilisation of SMP purch...,http://www.iii.co.uk/news-opinion/reuters/news...,Interactive Investor,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.iii.co.uk,1394470501265
10,11,ECB unlikely to end sterilization of SMP purch...,http://in.reuters.com/article/2014/03/10/us-ec...,Reuters India,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470501410
11,12,EU's half-baked bank union could work,http://blogs.reuters.com/hugo-dixon/2014/03/10...,Reuters UK \(blog\),b,dPhGU51DcrolUIMxbRm0InaHGA2XM,blogs.reuters.com,1394470501587
12,13,Europe reaches crunch point on banking union,http://in.reuters.com/article/2014/03/10/eu-ba...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470501755
13,14,ECB FOCUS-Stronger euro drowns out ECB's messa...,http://in.reuters.com/article/2014/03/10/ecb-p...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470501948
14,15,EU aims for deal on tackling failing banks,http://main.omanobserver.om/\?p=63376,Oman Daily Observer,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,main.omanobserver.om,1394470502141
15,16,Forex - Pound drops to one-month lows against ...,http://www.nasdaq.com/article/forex-pound-drop...,NASDAQ,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.nasdaq.com,1394470502316
16,17,Noyer Says Strong Euro Creates Unwarranted Eco...,http://www.sfgate.com/business/bloomberg/artic...,San Francisco Chronicle,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.sfgate.com,1394470502543
17,18,"EU Week Ahead March 10-14: Bank Resolution, Tr...",http://blogs.wsj.com/brussels/2014/03/10/eu-we...,Wall Street Journal \(blog\),b,dPhGU51DcrolUIMxbRm0InaHGA2XM,blogs.wsj.com,1394470502744
18,19,ECB member Noyer is 'very open to all kinds of...,http://www.ifamagazine.com/news/ecb-member-noy...,IFA Magazine,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.ifamagazine.com,1394470502946
19,20,"Euro Anxieties Wane as Bunds Top Treasuries, S...",http://www.businessweek.com/news/2014-03-10/ge...,Businessweek,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.businessweek.com,1394470503148
20,21,Noyer Says Strong Euro Creates Unwarranted Eco...,http://www.businessweek.com/news/2014-03-10/no...,Businessweek,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.businessweek.com,1394470503366
21,22,Noyer Says Stronger Euro Creates Unwarranted P...,http://www.sfgate.com/business/bloomberg/artic...,San Francisco Chronicle,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.sfgate.com,1394470503543
22,23,Bad loan triggers key feature in ECB bank test...,http://www.globalpost.com/dispatch/news/thomso...,GlobalPost,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.globalpost.com,1394470503726
23,24,China's trade deficit and structural worries i...,http://www.fxstreet.com/analysis/strategic-cur...,FXstreet.com,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.fxstreet.com,1394470503887
24,25,10 Things You Need To Know This Morning,http://www.businessinsider.com/opening-bell-mo...,Business Insider,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.businessinsider.com,1394470504080
25,26,ECB's Noyer not Happy With Euro Strength -- Up...,http://online.wsj.com/article/BT-CO-20140310-7...,Wall Street Journal,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,online.wsj.com,1394470504274
26,27,Eurozone banks' sovereign exposure hits new high,http://www.ekathimerini.com/4dcgi/_w_articles_...,Kathimerini,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.ekathimerini.com,1394470504506
27,28,ECB to reveal bad loan hurdles for euro zone b...,http://www.irishtimes.com/business/sectors/fin...,Irish Times,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.irishtimes.com,1394470504683
28,29,Forex Market: EUR/USD retreats from 2-1/2-year...,http://www.binarytribune.com/2014/03/10/forex-...,Binary Tribune,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.binarytribune.com,1394470504893
29,30,REFILE-Bad loan triggers key feature in ECB ba...,http://in.reuters.com/article/2014/03/10/euroz...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470505070
...,...,...,...,...,...,...,...,...
422389,422908,CDC director says Liberia Ebola outbreak to ge...,http://www.dw.de/cdc-director-says-liberia-ebo...,Deutsche Welle,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.dw.de,1409228452081
422390,422909,"France Asks Citizens to Avoid Liberia, Sierra ...",http://english.chosun.com/site/data/html_dir/2...,The Chosun Ilbo,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,english.chosun.com,1409228452319
422391,422910,"Ebola-infected doctor in Sierra Leone, Sahr Ro...",http://www.cbc.ca/news/health/ebola-infected-d...,CBC.ca,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.cbc.ca,1409228452728
422392,422911,Ebola zone nations isolated as airlines stop f...,http://www.brecorder.com/general-news/172/1218...,Business Recorder,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.brecorder.com,1409228453085
422393,422912,28/08/2014Ebola response 'dangerously inadequa...,http://www.expatica.com/be/news/belgian-news/e...,Expatica Belguim,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.expatica.com,1409228453432
422394,422913,Glaxo's Ebola vaccine may begin safety tests i...,http://www.panews.com/cnhi_network/article_e92...,The Port Arthur News,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.panews.com,1409228453652
422395,422914,Ebola causing huge damage to West African econ...,http://www.moneyweb.co.za/moneyweb-internation...,Moneyweb.co.za,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.moneyweb.co.za,1409228453918
422396,422915,Ebola outbreak: 'It's even worse than I'd feared',http://q13fox.com/2014/08/27/ebola-outbreak-it...,Q13 FOX,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,q13fox.com,1409228454366
422397,422916,CDC: Ebola outbreak 'even worse than I'd feared',http://kfor.com/2014/08/27/cdc-ebola-outbreak-...,kfor.com,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,kfor.com,1409228454637
422398,422917,Ebola Virus Disease in the Democratic Republic...,http://www.infectioncontroltoday.com/news/2014...,Infection Control Today,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.infectioncontroltoday.com,1409228454932
422399,422918,CDC Chief Warns Liberia Ebola Crisis 'Will Get...,http://www.newsmax.com/Newsfront/Health-Ebola-...,Newsmax.com,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.newsmax.com,1409228455249
422400,422919,UPDATE 3-Ebola causing huge damage to W.Africa...,http://af.reuters.com/article/guineaNews/idAFL...,Reuters Africa,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,af.reuters.com,1409228455497
422401,422920,WHO removes staff from Sierra Leone Ebola cent...,http://www.bignewsnetwork.com/index.php/sid/22...,Big News Network.com,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.bignewsnetwork.com,1409228455693
422402,422921,Ebola causing huge damage to W Africa economie...,http://economictimes.indiatimes.com/news/inter...,Economic Times,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,economictimes.indiatimes.com,1409228455934
422403,422922,Democratic Republic of Congo reports Ebola out...,http://news.xinhuanet.com/english/health/2014-...,Xinhua,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,news.xinhuanet.com,1409228456566
422404,422923,British Ebola sufferer gets new drug,http://www.echo.net.au/2014/08/british-ebola-s...,Echonetdaily,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.echo.net.au,1409228456773
422405,422924,AFDB Boss Says Ebola Infected Countries May Lo...,http://leadership.ng/business/382219/afdb-boss...,Leadership Newspapers,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,leadership.ng,1409228457129
422406,422925,Cincinnati Children's to rebuild boy's throat ...,http://www.bizjournals.com/cincinnati/news/201...,Cincinnati Business Courier,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.bizjournals.com,1409229187092
422407,422926,Cincinnati doctors use child's rib to rebuild ...,http://www.jrn.com/kgun9/now-trending/Cincinna...,KGUN 9,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.jrn.com,1409229187393
422408,422927,Cincinnati Children's surgeons rebuild throat ...,http://www.kptv.com/story/26378648/surgeons-re...,KPTV.com,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.kptv.com,1409229187741
422409,422928,Surgeons remove 4-year-old's rib to rebuild da...,http://www.wnem.com/story/26378648/surgeons-re...,WNEM Saginaw,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.wnem.com,1409229188173
422410,422929,Surgery update for boy who swallowed battery,http://www.local12.com/news/features/top-stori...,WKRC TV Cincinnati,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.local12.com,1409229188577
422411,422930,Boy who swallowed battery headed for surgery,http://www.kgns.tv/health/headlines/Boy-who-sw...,KGNS.tv,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.kgns.tv,1409229188921
422412,422931,Ohio Boy's Throat Rebuilt After Being Burned B...,http://www.keyetv.com/news/features/top-storie...,KEYE TV,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.keyetv.com,1409229189229
422413,422932,Cincinnati Children's surgeons to rebuild thro...,http://www.wsmv.com/story/26378648/surgeons-re...,WSMV Nashville,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.wsmv.com,1409229189743
422414,422933,Surgeons to remove 4-year-old's rib to rebuild...,http://www.cbs3springfield.com/story/26378648/...,WSHM-TV,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.cbs3springfield.com,1409229190251
422415,422934,Boy to have surgery on esophagus after battery...,http://www.wlwt.com/news/boy-to-have-surgery-o...,WLWT Cincinnati,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.wlwt.com,1409229190508
422416,422935,Child who swallowed battery to have reconstruc...,http://www.newsnet5.com/news/local-news/child-...,NewsNet5.com,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.newsnet5.com,1409229190771
422417,422936,Phoenix boy undergoes surgery to repair throat...,http://www.wfsb.com/story/26368078/phoenix-boy...,WFSB,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.wfsb.com,1409229191071
422418,422937,Phoenix boy undergoes surgery to repair throat...,http://www.cbs3springfield.com/story/26368078/...,WSHM-TV,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.cbs3springfield.com,1409229191565

In [10]:
news.CATEGORY = news['CATEGORY'].astype("category", categories=["b","e","m", "t"], ordered=True)
news.PUBLISHER = news['PUBLISHER'].astype("category", categories=[np.unique(news.PUBLISHER)], ordered=True)
news.TITLE = news['TITLE'].astype("category")
news.URL = news['URL'].astype("category")
news.STORY = news['STORY'].astype("category")
news.HOSTNAME = news['HOSTNAME'].astype("category")

TypeError: unorderable types: str() > float()

WielkoÅ›Ä‡ zbioru

In [6]:
news.shape

(422419, 8)

Typy zmiennych:

In [4]:
news.dtypes

ID              int64
TITLE        category
URL          category
PUBLISHER    category
CATEGORY     category
STORY        category
HOSTNAME     category
TIMESTAMP       int64
dtype: object

Liczba klas:

In [25]:
klasy = np.unique(news.CATEGORY)
print (klasy)
print (len(klasy))

['b' 'e' 'm' 't']
4

Lista atrybutÃ³w:

In [16]:
print (news.columns)

Index(['ID', 'TITLE', 'URL', 'PUBLISHER', 'CATEGORY', 'STORY', 'HOSTNAME',
       'TIMESTAMP'],
      dtype='object')

Rozmiary poszczegÃ³lnych kategorii:

In [5]:
news.groupby("PUBLISHER").size()

PUBLISHER
100.7 WZLX Classic Rock                                  13
1011now                                                  25
106 JACK fm                                               9
10News                                                  200
10TV                                                     83
1200 WOAI                                                11
1230 WBZT                                                 5
123Jump.com                                              32
123Macmini.com                                            5
12NewsNow.Com                                            53
1340 WGAU                                                19
1370 WSPD                                                18
13WHAM-TV                                                99
13WMAZ                                                   57
13abc Action News                                        46
14 News WFIE Evansville                                  64
148Apps                                                  15
1500 ESPN                                                 1
1590 KLIV Silicon Valley News                             9
19 Action News                                           27
1WeddingSource                                            1
1to1 Media \(blog\)                                       1
2 Minute Medicine                                        20
225 Baton Rouge                                           2
24                                                        1
24 Hours Vancouver                                        8
247 Asian Media                                           1
24Wrestling                                               2
24\/7 Wall St.                                          440
24dash                                                    1
                                                       ...
witf.org                                                  7
wivb.com                                                 12
wlfi.com                                                  7
wmbb                                                      4
wnep.com                                                 14
woodworkingnetwork.com                                   10
wreg.com                                                 45
wtkr.com                                                 98
wtvr.com                                                216
wwlp.com                                                 54
wwntradio                                                16
www.TurlockCityNews.com                                   9
www.app.com                                               2
www.behavioral.net                                        3
www.breakbulk.com                                         1
www.insidebelleville.com\/bellevilleregion-news\/         2
www.insidebrockville.com\/                                9
www.insideottawavalley.com\/                              8
www.kingstonregion.com\/                                  4
www.muskokaregion.com\/\?                                 2
www.norfolknews.ca\/                                      2
www.ottawacommunitynews.com\/                             3
www.waterstechnology.com                                  5
www.worldbulletin.net                                   238
xoJane                                                    8
ynaija                                                    2
yourMovies                                               11
yourTV.com.au                                            28
youralaskalink                                            1
Â«Market LeaderÂ» - news and previews making you rich.     14
dtype: int64

Parametry statystyczne dla poszczegÃ³lnych kategorii:

In [33]:
news[news.CATEGORY =='b'].describe(include='all')

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
count,115967.000000,115967,115967,115966,115967,115967,115967,1.159670e+05
unique,NaN,111903,115920,6419,1,2019,6430,1.159670e+05
top,NaN,Posted by Imaduddin,http://business.financialpost.com/2014/07/03/c...,Reuters,b,drWjpn6_UzSkmiM_9qWYJe3-LIGPM,in.reuters.com,1.404519e+12
freq,NaN,52,4,3157,115967,440,2286,1.000000e+00
mean,210544.533911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,122425.665139,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,101845.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,211931.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,311176.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,418875.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
news[news.CATEGORY =='e'].describe(include='all')

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
count,152469.000000,152469,152469,152469,152469,152469,152469,1.524690e+05
unique,NaN,146952,152387,6612,1,2075,6639,1.524690e+05
top,NaN,The article requested cannot be found! Please ...,http://www.latimes.com/local/lanow/la-me-ln-ra...,Contactmusic.com,e,dXfATHLvmd9iCUMfMSU3nmTZuv34M,www.contactmusic.com,1.400765e+12
freq,NaN,130,4,2309,152469,387,2309,1.000000e+00
mean,211261.873692,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,121905.693181,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2170.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,108956.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,210088.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,320453.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,422235.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
news[news.CATEGORY =='m'].describe(include='all')

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
count,45639.000000,45639,45639,45639,45639,45639,45639,4.563900e+04
unique,NaN,43719,45615,5098,1,1347,5147,4.563900e+04
top,NaN,Share this on:,http://www.japantimes.co.jp/news/2014/04/18/wo...,Headlines \& Global News,m,dRL3APAAYdKPwuMnih--zAQtflluM,www.hngn.com,1.405444e+12
freq,NaN,9,5,381,45639,293,381,1.000000e+00
mean,216210.545520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,124515.779549,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4208.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,100603.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,219209.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,326432.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,422937.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
news[news.CATEGORY =='t'].describe(include='all')

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
count,108344.000000,108344,108344,108343,108344,108344,108344,1.083440e+05
unique,NaN,104733,108306,6223,1,1789,6211,1.083440e+05
top,NaN,Business Wire,http://www.bizjournals.com/sanantonio/blog/mor...,Tech Times,t,dubwcJArLL_qAKML5LGPLiunKzNLM,www.techtimes.com,1.402937e+12
freq,NaN,29,3,813,108344,450,813,1.000000e+00
mean,211016.861958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,120960.405488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,945.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,106123.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,213505.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,315876.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,420154.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
news.describe(include='all')

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
count,422419.000000,422419,422419,422417,422419,422419,422419,4.224190e+05
unique,NaN,406455,422223,10985,4,7230,11236,4.224190e+05
top,NaN,The article requested cannot be found! Please ...,http://www.japantimes.co.jp/news/2014/04/18/wo...,Reuters,e,dubwcJArLL_qAKML5LGPLiunKzNLM,in.reuters.com,1.394600e+12
freq,NaN,145,5,3902,152469,450,2877,1.000000e+00
mean,211536.764594,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,122102.839707,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,105801.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,211655.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,317273.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,422937.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Najwiecej jest prÃ³bek kategorii e

In [ ]:
news['CATEGORY'].corr(news['PUBLISHER'], method='spearman')